<div class="item_box">
  <% if ac.present? %>
    <%= ac.code %>
    <%= ac.acClass %>
    <%= ac.acType %>
    <%= ac.engines %>
    <%= ac.engType %>
    <%= ac.eType %>
    <%= ac.weightClass %>
    <%= ac.wClass %>
    <%= ac.icaoWTC %>
    <%= ac.srs %>
    <%= ac.lahso %>
  <% end %>
</div>